@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
    font-family: 'atlantis_internationalregular';
    src: url('atlantisinternational-jen0-webfont.woff2') format('woff2'),
         url('atlantisinternational-jen0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section, main, nav, body, h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root {
    --slide-odd-background-fallback: hsl(22, 84%, 54%);
    --slide-even-background-fallback: hsl(275, 84%, 54%);
    --slide-odd-background: linear-gradient(156deg, hsl(22, 84%, 54%) 0%, hsl(304, 86%, 35%) 40%, hsl(336, 100%, 50%) 100%);
    --slide-even-background: linear-gradient(156deg, hsl(275, 84%, 54%) 0%, hsl(219, 88%, 34%) 40%, hsl(187, 100%, 50%) 100%);
    --main-text-color: hsl(0, 0%, 0%);
    --code-text-color: hsla(0, 0%, 100%, 0.9);
    --code-background-color: hsla(0, 0%, 0%, 0.8);
    --main-text-font: 'Montserrat', sans-serif;
    --code-text-font: 'Roboto Mono', monospace;
}

input[name=theme-selector] {
    visibility: hidden;
    position: absolute;
}

#theme-default:checked ~ main label[for="theme-default"] code,
#theme-dark:checked ~ main label[for="theme-dark"] code,
#theme-gameboy:checked ~ main label[for="theme-gameboy"] code {
    background-color:rgb(0, 98, 209);
}

#theme-dark:checked ~ main, #theme-dark:checked ~ nav {
    --slide-odd-background-fallback: hsl(22, 60%, 24%);
    --slide-even-background-fallback: hsl(276, 34%, 23%);
    --slide-odd-background: linear-gradient(156deg, hsl(22, 60%, 24%) 0%, hsl(304, 67%, 14%) 40%, hsl(336, 90%, 12%) 100%);
    --slide-even-background: linear-gradient(156deg, hsl(276, 34%, 23%) 0%, hsl(253, 70%, 26%) 35%, hsl(189, 79%, 13%) 100%);
    --main-text-color: hsla(0, 0%, 100%, 0.9);
    --code-text-color: hsla(0, 0%, 100%, 0.9);
    --code-background-color: hsla(0, 0%, 0%, 0.8);
}

#theme-gameboy:checked ~ main, #theme-gameboy:checked ~ nav {
    --slide-odd-background-fallback: #b0bba9;
    --slide-even-background-fallback: #88c070;
    --slide-odd-background: #b0bba9;
    --slide-even-background: #88c070;
    --main-text-color: #081820;
    --code-text-color: #081820;
    --code-background-color: #346856;
    --main-text-font: 'atlantis_internationalregular',monospace;
    --code-text-font: 'VT323', monospace;
}


html, body {
    height: 100%;
    font-size:1.7vw;
    line-height: 1.2;
}

tt, code, kbd, samp {
    font-family: var(--code-text-font);
}

body {
    overflow: hidden;
    position: relative;
}

main {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
    font-family: var(--main-text-font);
    color: var(--main-text-color);
}

nav {
    position: fixed;
    bottom:0;
    width:100%;
    padding: 10px 30%;
    text-align: center;
    z-index: 1;
    font-size: 15px;
    font-family: var(--main-text-font);
    display:flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    flex-wrap: wrap;
}

nav > a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    margin: 5px;
    pointer-events: auto;
    border-radius: 3px;
}

nav > a:visited {
    color: #000;
}

nav > a + a {
    background: rgba(255, 255, 255, 0.5);
}

nav > a:hover {
    background: rgba(255, 255, 255, 0.7);
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]:hover::before, *[data-tooltip]:focus::before {
    content: attr(data-tooltip);
    display: inline-block;
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    transform:translate(-50%);
    z-index: 3;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.3em;
    /* box-shadow: 0 0 0.2em #000; */
    text-transform: capitalize;
}

*[data-tooltip]:hover::after, *[data-tooltip]:focus::after {
	content: '';
	position: absolute;
	bottom: calc(100% + 6px);
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: rgba(0,0,0,0.8);
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.prevNext {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 0;
}

.prevNext > div + div {
    visibility: hidden;
}

.prevNext > div > a {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    opacity: 0.7;
    text-align: center;
    transition: 0.3s;
    left:0;
    z-index: 2;
    background-image: url(arrow.png);
    background-size: cover;
    transform: rotate(180deg);
    filter: invert(1);
}

.prevNext > div > a:hover {
    opacity: 1;
}

.prevNext > div > a[href=""] {
    visibility: hidden;
}

.prevNext > div > a + a {
    left: auto;
    transform: rotate(0deg);
    right: 0;
}

main > section {
    width: 100%;
    height: 100%;
    background: var(--slide-odd-background-fallback);
    background: var(--slide-odd-background);
    padding: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1rem;
    white-space: normal;
    overflow-y: auto;
}

main > section:nth-child(2n) {
    background: var(--slide-even-background-fallback);
    background: var(--slide-even-background);
}

main > section > div.slide-content {
    display: flex;
    justify-content: space-evenly;
}

main > section > div.slide-content > section {
    margin: 2vw 1vw;
    flex: 1;
}

main > section > div.slide-content ul,
main > section > div.slide-content dl,
main > section > div.slide-content ol {
    background: rgba(255,255,255,0.3);
    padding:1vw;
}

main > section > div.slide-content ul,
main > section > div.slide-content ol {
    background: rgba(255,255,255,0.3);
    padding-left: 3vw;
}



main > section.slide-layout-title > h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:2rem;
    display:flex;
    align-items: center;
}

main > section.slide-layout-title > h1 > * {
    margin: 0 0.5vw;
}

main > section.slide-layout-title img {
    width:10vw;
    height:10vw;
}

h1, h2, h3 {
    text-transform: capitalize;
}

main > section > h1  small {
    display: block;
    font-size: 0.6em;
}

code {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding:3px 6px;
    display: inline-block;
    border-radius: 3px;
    font-weight: lighter;
    font-size:0.8em;
}

pre > code {
    display:block;
}

code mark {
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

li {
    margin: 0.5rem 0px;
}

.center {
    text-align: center;
}

/* SLIDESHOW MAGIC CSS */
/* Borrowed from https://codepen.io/rokobuljan/pen/XXzqKQ */

/* NAVIGATION BUTTONS */
/* ALL: */
s:target ~ nav > * {background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ nav > *:nth-child(1),
#s2:target ~ nav > *:nth-child(2),
#s3:target ~ nav > *:nth-child(3),
#s4:target ~ nav > *:nth-child(4),
#s5:target ~ nav > *:nth-child(5),
#s6:target ~ nav > *:nth-child(6),
#s7:target ~ nav > *:nth-child(7),
#s8:target ~ nav > *:nth-child(8),
#s9:target ~ nav > *:nth-child(9),
#s10:target ~ nav > *:nth-child(10),
#s11:target ~ nav > *:nth-child(11),
#s12:target ~ nav > *:nth-child(12),
#s13:target ~ nav > *:nth-child(13),
#s14:target ~ nav > *:nth-child(14) {
    background: rgba(255, 255, 255, 1);
}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ main {transform: translateX(   0%);}
#s2:target ~ main {transform: translateX(-100%);}
#s3:target ~ main {transform: translateX(-200%);}
#s4:target ~ main {transform: translateX(-300%);}
#s5:target ~ main {transform: translateX(-400%);}
#s6:target ~ main {transform: translateX(-500%);}
#s7:target ~ main {transform: translateX(-600%);}
#s8:target ~ main {transform: translateX(-700%);}
#s9:target ~ main {transform: translateX(-800%);}
#s10:target ~ main {transform: translateX(-900%);}
#s11:target ~ main {transform: translateX(-1000%);}
#s12:target ~ main {transform: translateX(-1100%);}
#s13:target ~ main {transform: translateX(-1200%);}
#s14:target ~ main {transform: translateX(-1300%);}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
s:target ~ .prevNext > * {visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1),
#s2:target ~ .prevNext > *:nth-child(2),
#s3:target ~ .prevNext > *:nth-child(3),
#s4:target ~ .prevNext > *:nth-child(4),
#s5:target ~ .prevNext > *:nth-child(5),
#s6:target ~ .prevNext > *:nth-child(6),
#s7:target ~ .prevNext > *:nth-child(7),
#s8:target ~ .prevNext > *:nth-child(8),
#s9:target ~ .prevNext > *:nth-child(9),
#s10:target ~ .prevNext > *:nth-child(10),
#s11:target ~ .prevNext > *:nth-child(11),
#s12:target ~ .prevNext > *:nth-child(12),
#s13:target ~ .prevNext > *:nth-child(13),
#s14:target ~ .prevNext > *:nth-child(14) {
    visibility: visible;
}

a#github-link {
    background-image: url('GitHub-Mark-Light-32px.png');
    background-size: contain;
    background-color: transparent;
    opacity:0.5;
}

a#github-link:hover {
    opacity:1;
}