@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');

section, main, nav, body, h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size:1.7vw;
    line-height: 1.2;
}

tt, code, kbd, samp {
    font-family: 'Roboto Mono', monospace;
}

body {
    overflow: hidden;
    position: relative;
}

main {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

nav {
    position: fixed;
    bottom:0;
    width:100%;
    padding: 10px 30%;
    text-align: center;
    z-index: 1;
    font-size: 15px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    flex-wrap: wrap;
}

nav > a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    transition: 0.3s;
    color: #000;
    margin: 5px;
    pointer-events: auto;
    border-radius: 3px;
}

nav > a:visited {
    color: #000;
}

nav > a + a {
    background: rgba(255, 255, 255, 0.5);
}

nav > a:hover {
    background: rgba(255, 255, 255, 0.7);
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    display: inline-block;
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    transform:translate(-50%);
    z-index: 3;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.3em;
    /* box-shadow: 0 0 0.2em #000; */
    text-transform: capitalize;
}

*[data-tooltip]:hover::after {
	content: '';
	position: absolute;
	bottom: calc(100% + 6px);
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: rgba(0,0,0,0.8);
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.prevNext {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 0;
}

.prevNext > div + div {
    visibility: hidden;
}

.prevNext > div > a {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    opacity: 0.7;
    text-align: center;
    transition: 0.3s;
    left:0;
    z-index: 2;
    background-image: url(arrow.png);
    background-size: cover;
    transform: rotate(180deg);
    filter: invert(1);
}

.prevNext > div > a:hover {
    opacity: 1;
}

.prevNext > div > a[href=""] {
    visibility: hidden;
}

.prevNext > div > a + a {
    left: auto;
    transform: rotate(0deg);
    right: 0;
}

main > section {
    width: 100%;
    height: 100%;
    background: rgb(236,111,41);
    background: linear-gradient(156deg, rgba(236,111,41,1) 0%, rgba(167,13,157,1) 40%, rgba(255,0,101,1) 100%);
    padding: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1rem;
    white-space: normal;
    overflow-y: auto;
}

main > section:nth-child(2n) {
    background: rgb(154,41,236);
    background: linear-gradient(156deg, rgba(154,41,236,1) 0%, rgba(10,63,163,1) 40%, rgba(0,226,255,1) 100%);
}

main > section > div.slide-content {
    display: flex;
    justify-content: space-evenly;
}

main > section > div.slide-content > section {
    margin: 2vw 1vw;
    flex: 1;
}

main > section > div.slide-content ul,
main > section > div.slide-content dl,
main > section > div.slide-content ol {
    background: rgba(255,255,255,0.3);
    padding:1vw;
}

main > section > div.slide-content ul,
main > section > div.slide-content ol {
    background: rgba(255,255,255,0.3);
    padding-left: 3vw;
}



main > section.slide-layout-title > h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:2rem;
    display:flex;
    align-items: center;
}

main > section.slide-layout-title > h1 > * {
    margin: 0 0.5vw;
}

main > section.slide-layout-title img {
    width:10vw;
    height:10vw;
}

h1, h2, h3 {
    text-transform: capitalize;
}

main > section > h1  small {
    display: block;
    font-size: 0.6em;
}

code {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.9);
    padding:3px 6px;
    display: inline-block;
    border-radius: 3px;
    font-weight: lighter;
    font-size:0.8em;
}

pre > code {
    display:block;
}

code mark {
    background-color: transparent;
}

code mark[data-syntax="css-selector"] {
    color: rgb(218, 148, 42);
}

a {
    text-decoration: none;
}

ul {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

li {
    margin: 0.5rem 0px;
}

.center {
    text-align: center;
}

/* SLIDESHOW MAGIC CSS */
/* Borrowed from https://codepen.io/rokobuljan/pen/XXzqKQ */

/* NAVIGATION BUTTONS */
/* ALL: */
s:target ~ nav > * {background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ nav > *:nth-child(1),
#s2:target ~ nav > *:nth-child(2),
#s3:target ~ nav > *:nth-child(3),
#s4:target ~ nav > *:nth-child(4),
#s5:target ~ nav > *:nth-child(5),
#s6:target ~ nav > *:nth-child(6),
#s7:target ~ nav > *:nth-child(7),
#s8:target ~ nav > *:nth-child(8),
#s9:target ~ nav > *:nth-child(9),
#s10:target ~ nav > *:nth-child(10) {
    background: rgba(255, 255, 255, 1);
}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ main {transform: translateX(   0%);}
#s2:target ~ main {transform: translateX(-100%);}
#s3:target ~ main {transform: translateX(-200%);}
#s4:target ~ main {transform: translateX(-300%);}
#s5:target ~ main {transform: translateX(-400%);}
#s6:target ~ main {transform: translateX(-500%);}
#s7:target ~ main {transform: translateX(-600%);}
#s8:target ~ main {transform: translateX(-700%);}
#s9:target ~ main {transform: translateX(-800%);}
#s10:target ~ main {transform: translateX(-900%);}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
s:target ~ .prevNext > * {visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1),
#s2:target ~ .prevNext > *:nth-child(2),
#s3:target ~ .prevNext > *:nth-child(3),
#s4:target ~ .prevNext > *:nth-child(4),
#s5:target ~ .prevNext > *:nth-child(5),
#s6:target ~ .prevNext > *:nth-child(6),
#s7:target ~ .prevNext > *:nth-child(7),
#s8:target ~ .prevNext > *:nth-child(8),
#s9:target ~ .prevNext > *:nth-child(9),
#s10:target ~ .prevNext > *:nth-child(10) {
    visibility: visible;
}

